@use 'beyond/external/bootstrap';
@use 'beyond/external/material';

@use 'beyond/settings/colors';
@use 'beyond/settings/borders';
@use 'beyond/settings/shadows';
@use 'beyond/settings/fonts';
@use 'beyond/settings/spaces';
@use 'beyond/settings/components';
@use 'beyond/settings/flex';

@mixin generate() {
  @include colors.generateColors();

  @include borders.generateBorders();

  @include shadows.generateShadows();

  @include fonts.generateFonts();

  @include spaces.generateSpaces();
  @include spaces.generateRadius();

  @include components.generateComponents();

  @include flex.generateFlex();
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  @include fonts.fontSizeBody('md');
}
hr {
  width: 50%;
  margin: 10px auto;
}

.container {
  max-width: none;
  &.root {
    padding: 0;
  }
}
.align-items-center {
  margin: auto;
}

.mat-toolbar-single-row {
  height: 50px;
}

.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;

  cursor: pointer;
}
