<!-- <router-outlet /> -->
<!-- <byd-notification-box></byd-notification-box> -->

<ng-template #cardTemplate let-items="items">
  @for (item of items; track item.id) {
    <div class="row row-cols-2">
      <div>{{ item.id }}</div>
      <div>{{ item.name }}</div>
    </div>
  }
</ng-template>

<byd-grid-container gridId="washing" model="washing.production" [colsMetaData]="this.colsMetaData">
  <byd-grid-search gridId="washing" [outOfBox]="true"></byd-grid-search>
  <byd-grid-tags gridId="washing"></byd-grid-tags>
  <byd-grid-control gridId="washing"></byd-grid-control>
  <byd-grid gridId="washing" [cardTemplate]="cardTemplate"></byd-grid>

  <byd-grid-form gridId="washing"></byd-grid-form>
</byd-grid-container>
